In [212]:
import numpy as np
from numpy import nan
import pandas as pd

In [252]:
key = pd.read_excel('../data/raw data/raw data.xlsx', sheet_name = 'conversions')
df = pd.read_excel('../data/raw data/raw data.xlsx', sheet_name = 'raw data')

def create_dict_key(dataframe):
    '''
    '''
    conversion_key = dict()
    for year in dataframe.columns[1:]:
        values = list(dataframe[year])
        categories = list(dataframe['categories'])
        temp = dict()
        for tup in tuple(zip(categories, values)):
            temp[tup[0]] = tup[1]
        
        temp['USD'] = 1
        conversion_key[year] = temp
            
    return conversion_key

conversion_key = create_dict_key(key)


def adjustments(raw_data, conversion_key, fy_starts=13):
    '''
    Takes inputs of raw_data and conversion key and
    converts to real money terms.
    
    Inputs:
        raw_data: pandas dataframe of raw data Excel
        raw_data: pandas dataframe of raw data Excel
        
    Outputs:
        adjusted_data: pandas dataframe of adjusted data
    '''
    columns = list(raw_data.columns[fy_starts:])
    raw_data['Region'] = raw_data['Type']
        
    for index, row in raw_data.iterrows():
        currency = row['Currency']
        for year in columns:
            year_match = int(year[2:])
            infl = conversion_key[year_match]['Inflation Adjustment']
            curr = conversion_key[year_match][currency]
            row[year] = (float(row[year])/curr)*infl
            
        raw_data.loc[index] = row
        
    clean = raw_data
    clean['Source'] = clean['Source'].str.replace(" ", "")
    
    return clean[['Proper Name', 'Source'] + columns]

clean = adjustments(df, conversion_key)

clean

,Proper Name,Source,FY2007,FY2008,FY2009,FY2010,FY2011,FY2012,FY2013,FY2014,...,FY2029,FY2030,FY2031,FY2032,FY2033,FY2034,FY2035,FY2036,FY2037,FY2038
0,Actemra,Actemra1,0,0.0,0.0,519.382885,913.806742,1158.377021,1424.369677,1677.279130,...,1026.982709,950.614498,983.526357,1026.718156,1067.725867,1061.260590,1244.462648,NaN,NaN,NaN
1,Actemra,Actemra2,0,0.0,0.0,75.879615,208.489888,331.554468,431.294194,556.352391,...,335.725889,315.654785,335.012030,343.125495,362.802547,358.359781,363.288261,NaN,NaN,NaN
2,Adempas,Adempas1,0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,84.362632,...,238.420843,234.891855,204.027394,86.399891,71.240784,59.505770,26.347257,NaN,NaN,NaN
3,Adempas,Adempas2,0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,186.799505,148.147578,95.047725,96.087403,95.873187,30.790721,21.553504,NaN,NaN,NaN
4,Adempas,Adempas3,0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,202.025598,186.791391,205.389501,200.182090,200.134538,57.377336,40.164135,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,Xtandi,Xtandi4,0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
214,Xtandi,Xtandi5,0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
215,Xtandi,Xtandi6,0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,982.085300,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
216,Yervoy,Yervoy1,0,0.0,0.0,0.000000,473.760000,912.999200,1226.304000,1648.995600,...,1052.208894,859.211704,529.341355,451.136010,362.668629,615.523927,600.701670,NaN,NaN,NaN
217,Yervoy,Yervoy2,0,0.0,0.0,0.000000,425.068000,650.479600,730.814733,893.836300,...,608.303033,475.140206,287.319594,242.144549,159.085817,182.393814,145.915051,NaN,NaN,NaN

In [253]:
key = pd.read_excel('../data/raw data/raw data.xlsx', sheet_name = 'dictionary')

def split_strings(string):
    '''
    '''
    new_string = '{'
    if string == '':
        return string
    for char in string:
        if char not in ['+', '-', '*']:
            new_string += char
        else:
            new_string += '}'
            new_string += char
            new_string += '{'
    
    new_string += '}'
    return new_string.replace("{0.5}", "0.5" )


def formulas(dataframe):
    '''
    '''
    dataframe["formula"] = dataframe["formula"].apply(split_strings)
    formula_key = dict()
    for _, row in dataframe.iterrows():
        formula = row['formula']
        formula_key[row['ID']] = formula

    return formula_key

formula_key = formulas(key)
formula_key

{'Actemra WW': '{Actemra1}',
 'Actemra US': '{Actemra2}',
 'Actemra Ex-US': '{Actemra1}-{Actemra2}',
 'Adempas WW': '{Adempas1}+{Adempas2}',
 'Adempas US': '{Adempas1}',
 'Adempas Ex-US': '{Adempas2}',
 'Aimovig WW': '{Aimovig1}',
 'Aimovig US': '{Aimovig2}',
 'Aimovig Ex-US': '{Aimovig1}-{Aimovig2}',
 'Aristada WW': '{Aristada1}',
 'Aristada US': '{Aristada1}',
 'Aristada Ex-US': '{Nan}',
 'Aubagio WW': '{Aubagio1}',
 'Aubagio US': '{Aubagio2}',
 'Aubagio Ex-US': '{Aubagio1}-{Aubagio2}',
 'Austedo WW': '{Austedo1}',
 'Austedo US': '{Austedo2}',
 'Austedo Ex-US': '{Austedo1}-{Austedo2}',
 'Biktarvy WW': '{Biktarvy1}',
 'Biktarvy US': '{Biktarvy2}',
 'Biktarvy Ex-US': '{Biktarvy1}-{Biktarvy2}',
 'Breo Ellipta WW': '{BreoEllipta1}',
 'Breo Ellipta US': '{BreoEllipta2}',
 'Breo Ellipta Ex-US': '{BreoEllipta1}-{BreoEllipta2}',
 'Brilinta WW': '{Brilinta1}',
 'Brilinta US': '{Brilinta2}',
 'Brilinta Ex-US': '{Brilinta1}-{Brilinta2}',
 'Calquence WW': '{Calquence1}',
 'Calquence US': '{Calquence2}',
 'Calquence Ex-US': '{Calquence1}-{Calquence2}',
 'Cimzia WW': '{Cimzia1}',
 'Cimzia US': '{Cimzia2}',
 'Cimzia Ex-US': '{Cimzia1}-{Cimzia2}',
 'Cometriq WW': '{Cabometyx/Cometriq1}+{Cabometyx/Cometriq2}+{Cabometyx/Cometriq3}',
 'Cometriq US': '{Cabometyx/Cometriq1}',
 'Cometriq Ex-US': '{Cabometyx/Cometriq2}+{Cabometyx/Cometriq3}',
 'Cosentyx WW': '{Cosentyx1}',
 'Cosentyx US': '{Cosentyx2}',
 'Cosentyx Ex-US': '{Cosentyx1}-{Cosentyx2}',
 'Darzalex WW': '{Darzalex1}',
 'Darzalex US': '{Darzalex2}',
 'Darzalex Ex-US': '{Darzalex1}-{Darzalex2}',
 'Dupixent WW': '{Dupixent1}+{Dupixent2}',
 'Dupixent US': '{Dupixent2}',
 'Dupixent Ex-US': '{Dupixent1}',
 'Eliquis WW': '{Eliquis1}',
 'Eliquis US': '{Eliquis2}',
 'Eliquis Ex-US': '{Eliquis1}-{Eliquis2}',
 'Entresto WW': '{Entresto1}',
 'Entresto US': '{Entresto2}',
 'Entresto Ex-US': '{Entresto1}-{Entresto2}',
 'Entyvio WW': '{Entyvio1}',
 'Entyvio US': '{Entyvio2}',
 'Entyvio Ex-US': '{Entyvio1}-{Entyvio2}',
 'Erleada WW': '{Erleada1}',
 'Erleada US': '{Erleada2}',
 'Erleada Ex-US': '{Erleada1}-{Erleada2}',
 'Esbriet WW': '{Esbriet1}',
 'Esbriet US': '{Esbriet2}',
 'Esbriet Ex-US': '{Esbriet1}-{Esbriet2}',
 'Eylea WW': '{Eylea3}',
 'Eylea US': '{Eylea4}',
 'Eylea Ex-US': '{Eylea3}-{Eylea4}',
 'Farxiga WW': '{Farxiga1}',
 'Farxiga US': '{Farxiga2}',
 'Farxiga Ex-US': '{Farxiga1}-{Farxiga2}',
 'Fasenra WW': '{Fasenra1}',
 'Fasenra US': '{Fasenra2}',
 'Fasenra Ex-US': '{Fasenra1}-{Fasenra2}',
 'Gattex WW': '{Gattex1}',
 'Gattex US': '{Gattex2}',
 'Gattex Ex-US': '{Gattex1}-{Gattex2}',
 'Genvoya WW': '{Genvoya1}',
 'Genvoya US': '{Genvoya2}',
 'Genvoya Ex-US': '{Genvoya1}-{Genvoya2}',
 'Gilenya WW': '{Gilenya1}',
 'Gilenya US': '{Gilenya2}',
 'Gilenya Ex-US': '{Gilenya1}-{Gilenya2}',
 'Ibrance WW': '{Ibrance1}',
 'Ibrance US': '{Ibrance2}',
 'Ibrance Ex-US': '{Ibrance1}-{Ibrance2}',
 'Imbruvica WW': '{Imbruvica1}+{Imbruvica3}',
 'Imbruvica US': '{Imbruvica2}+{Imbruvica4}',
 'Imbruvica Ex-US': '{Imbruvica1}+{Imbruvica3}-{Imbruvica2}+{Imbruvica4}',
 'Imfinzi WW': '{Imfinzi1}',
 'Imfinzi US': '{Imfinzi2}',
 'Imfinzi Ex-US': '{Imfinzi1}-{Imfinzi2}',
 'Incruse WW': '{Incruse1}',
 'Incruse US': '{Incruse2}',
 'Incruse Ex-US': '{Incruse1}-{Incruse2}',
 'Ingrezza WW': '{Ingrezza1}',
 'Ingrezza US': '{Ingrezza1}',
 'Ingrezza Ex-US': '{Nan}',
 'Inlyta WW': '{Inlyta1}',
 'Inlyta US': '{Inlyta2}',
 'Inlyta Ex-US': '{Inlyta1}-{Inlyta2}',
 'Invega Sustenna/Xeplion/Trinza WW': '{InvegaSustenna/Xeplion/Trinza1}',
 'Invega Sustenna/Xeplion/Trinza US': '{InvegaSustenna/Xeplion/Trinza2}',
 'Invega Sustenna/Xeplion/Trinza Ex-US': '{InvegaSustenna/Xeplion/Trinza1}-{InvegaSustenna/Xeplion/Trinza2}',
 'Invokana WW': '{Invokana1}',
 'Invokana US': '{Invokana2}',
 'Invokana Ex-US': '{Invokana1}-{Invokana2}',
 'Jakafi WW': '{Jakafi1}',
 'Jakafi US': '{Jakafi2}',
 'Jakafi Ex-US': '{Jakafi1}-{Jakafi2}',
 'Jardiance WW': '{Jardiance1}+{Jardiance3}',
 'Jardiance US': '{Jardiance2}+{Jardiance4}',
 'Jardiance Ex-US': '{Jardiance1}+{Jardiance3}-{Jardiance2}+{Jardiance4}',
 'Kadcyla WW': '{Kadcyla1}',
 'Kadcyla US': '{Kadcyla2}',
 'Kadcyla Ex-US': '{Kadcyla1}-{Kadcyla2}',
 'Keytruda WW': '{Keytruda1}',
 'Keytruda US': '{Keytruda2}',
 'Keytruda Ex-US': '{Keytruda1}-{Keytruda2}',
 'Kyprolis WW': '{Kyprolis1}',
 'Kyprolis US': '{Kyprolis2}',
 'Kyprolis Ex-US': '{Kyprolis1}-{Kyprolis2}',
 'Latuda WW': '{Latuda1}',
 'Latuda US': '{Latuda2}',
 'Latuda Ex-US': '{Latuda1}-{Latuda2}',
 'Lenvima WW': '{Lenvima1}',
 'Lenvima US': '{Lenvima3}',
 'Lenvima Ex-US': '{Lenvima1}-{Lenvima3}',
 'Linzess WW': '{Linzess1}',
 'Linzess US': '{Linzess2}',
 'Linzess Ex-US': '{Linzess1}-{Linzess2}',
 'Lynparza WW': '{Lynparza1}',
 'Lynparza US': '{Lynparza2}',
 'Lynparza Ex-US': '{Lynparza1}-{Lynparza2}',
 'Mavyret WW': '{Mavyret1}',
 'Mavyret US': '{Mavyret2}',
 'Mavyret Ex-US': '{Mavyret1}-{Mavyret2}',
 'Multaq WW': '{Multaq1}',
 'Multaq US': '{Multaq2}',
 'Multaq Ex-US': '{Multaq1}-{Multaq2}',
 'Myrbetriq WW': '{Myrbetriq1}',
 'Myrbetriq US': '{Myrbetriq2}',
 'Myrbetriq Ex-US': '{Myrbetriq1}-{Myrbetriq2}',
 'Ninlaro WW': '{Ninlaro1}',
 'Ninlaro US': '{Ninlaro2}',
 'Ninlaro Ex-US': '{Ninlaro1}-{Ninlaro2}',
 'Northera WW': '{Northera2}',
 'Northera US': '{Northera3}',
 'Northera Ex-US': '{Northera2}-{Northera3}',
 'NPlate WW': '{NPlate1}',
 'NPlate US': '{NPlate2}',
 'NPlate Ex-US': '{NPlate1}-{NPlate2}',
 'Nucala WW': '{Nucala1}',
 'Nucala US': '{Nucala2}',
 'Nucala Ex-US': '{Nucala1}-{Nucala2}',
 'Nuplazid WW': '{Nuplazid1}',
 'Nuplazid US': '{Nuplazid3}',
 'Nuplazid Ex-US': '{Nuplazid1}-{Nuplazid3}',
 'Ocrevus WW': '{Ocrevus1}',
 'Ocrevus US': '{Ocrevus2}',
 'Ocrevus Ex-US': '{Ocrevus1}-{Ocrevus2}',
 'Ofev WW': '{Ofev1}',
 'Ofev US': '{Ofev1}*0.5',
 'Ofev Ex-US': '{Ofev1}-{Ofev1}*0.5',
 'Opdivo WW': '{Opdivo1}',
 'Opdivo US': '{Opdivo2}',
 'Opdivo Ex-US': '{Opdivo1}-{Opdivo2}',
 'Opsumit WW': '{Opsumit1}',
 'Opsumit US': '{Opsumit2}',
 'Opsumit Ex-US': '{Opsumit1}-{Opsumit2}',
 'Otezla WW': '{Otezla1}',
 'Otezla US': '{Otezla2}',
 'Otezla Ex-US': '{Otezla1}-{Otezla2}',
 'Ozempic (Rybelsus) WW': '{Ozempic(Rybelsus)1}+{Ozempic(Rybelsus)2}',
 'Ozempic (Rybelsus) US': '{Ozempic(Rybelsus)2}+{Ozempic(Rybelsus)4}',
 'Ozempic (Rybelsus) Ex-US': '{Ozempic(Rybelsus)1}+{Ozempic(Rybelsus)2}-{Ozempic(Rybelsus)2}+{Ozempic(Rybelsus)4}',
 'Perjeta WW': '{Perjeta1}',
 'Perjeta US': '{Perjeta2}',
 'Perjeta Ex-US': '{Perjeta1}-{Perjeta2}',
 'Pomalyst/Imnovid WW': '{Pomalyst/Imnovid1}',
 'Pomalyst/Imnovid US': '{Pomalyst/Imnovid2}',
 'Pomalyst/Imnovid Ex-US': '{Pomalyst/Imnovid1}-{Pomalyst/Imnovid2}',
 'Pradaxa WW': '{Pradaxa1}',
 'Pradaxa US': '{Pradaxa1}*0.5',
 'Pradaxa Ex-US': '{Pradaxa1}-{Pradaxa1}*0.5',
 'Praluent WW': '{Praluent1}',
 'Praluent US': '{Praluent2}',
 'Praluent Ex-US': '{Praluent1}-{Praluent2}',
 'Prolia/Xgeva WW': '{Prolia/Xgeva1}+{Prolia/Xgeva2}+{Prolia/Xgeva3}',
 'Prolia/Xgeva US': '{Prolia/Xgeva4}+{Prolia/Xgeva5}+{Prolia/Xgeva6}',
 'Prolia/Xgeva Ex-US': '{Prolia/Xgeva1}+{Prolia/Xgeva2}+{Prolia/Xgeva3}-{Prolia/Xgeva4}+{Prolia/Xgeva5}+{Prolia/Xgeva6}',
 'Promacta WW': '{Promacta1}+{Promacta3}',
 'Promacta US': '{Promacta2}+{Promacta4}',
 'Promacta Ex-US': '{Promacta1}+{Promacta3}-{Promacta2}+{Promacta4}',
 'Repatha WW': '{Repatha1}',
 'Repatha US': '{Repatha2}',
 'Repatha Ex-US': '{Repatha1}-{Repatha2}',
 'Rexulti WW': '{Rexulti2}+{Rexulti3}+{Rexulti4}',
 'Rexulti US': '{Rexulti2}',
 'Rexulti Ex-US': '{Rexulti3}+{Rexulti4}',
 'Rinvoq WW': '{Rinvoq1}',
 'Rinvoq US': '{Rinvoq2}',
 'Rinvoq Ex-US': '{Rinvoq1}-{Rinvoq2}',
 'Simponi WW': '{Simponi1}',
 'Simponi US': '{Simponi2}',
 'Simponi Ex-US': '{Simponi1}-{Simponi2}',
 'Skyrizi WW': '{Skyrizi1}',
 'Skyrizi US': '{Skyrizi2}',
 'Skyrizi Ex-US': '{Skyrizi1}-{Skyrizi2}',
 'Stelara WW': '{Stelara1}',
 'Stelara US': '{Stelara2}',
 'Stelara Ex-US': '{Stelara1}-{Stelara2}',
 'Tagrisso WW': '{Tagrisso1}',
 'Tagrisso US': '{Tagrisso2}',
 'Tagrisso Ex-US': '{Tagrisso1}-{Tagrisso2}',
 'Taltz WW': '{Taltz1}',
 'Taltz US': '{Taltz2}',
 'Taltz Ex-US': '{Taltz1}-{Taltz2}',
 'Tecentriq WW': '{Tecentriq1}',
 'Tecentriq US': '{Tecentriq2}',
 'Tecentriq Ex-US': '{Tecentriq1}-{Tecentriq2}',
 'Tecfidera WW': '{Tecfidera1}',
 'Tecfidera US': '{Tecfidera2}',
 'Tecfidera Ex-US': '{Tecfidera1}-{Tecfidera2}',
 'Tivicay WW': '{Tivicay1}',
 'Tivicay US': '{Tivicay2}',
 'Tivicay Ex-US': '{Tivicay1}-{Tivicay2}',
 'Toujeo WW': '{Toujeo1}',
 'Toujeo US': '{Toujeo2}',
 'Toujeo Ex-US': '{Toujeo1}-{Toujeo2}',
 'Toviaz WW': '{Toviaz1}',
 'Toviaz US': '{Toviaz2}',
 'Toviaz Ex-US': '{Toviaz1}-{Toviaz2}',
 'Tradjenta WW': '{Tradjenta1}+{Tradjenta2}',
 'Tradjenta US': '{Nan}',
 'Tradjenta Ex-US': '{Nan}',
 'Tremfya WW': '{Tremfya1}',
 'Tremfya US': '{Tremfya2}',
 'Tremfya Ex-US': '{Tremfya1}-{Tremfya2}',
 'Tresiba WW': '{Tresiba1}',
 'Tresiba US': '{Tresiba2}',
 'Tresiba Ex-US': '{Tresiba1}-{Tresiba2}',
 'Trikafta WW': '{Trikafta1}',
 'Trikafta US': '{Trikafta2}',
 'Trikafta Ex-US': '{Trikafta1}-{Trikafta2}',
 'Trintellix/Brintellix WW': '{Trintellix/Brintellix1}',
 'Trintellix/Brintellix US': '{Trintellix/Brintellix2}',
 'Trintellix/Brintellix Ex-US': '{Trintellix/Brintellix1}-{Trintellix/Brintellix2}',
 'Trulicity WW': '{Trulicity1}',
 'Trulicity US': '{Trulicity2}',
 'Trulicity Ex-US': '{Trulicity1}-{Trulicity2}',
 'Uptravi WW': '{Uptravi1}',
 'Uptravi US': '{Uptravi2}',
 'Uptravi Ex-US': '{Uptravi1}-{Uptravi2}',
 'Venclexta WW': '{Venclexta1}',
 'Venclexta US': '{Venclexta2}',
 'Venclexta Ex-US': '{Venclexta1}-{Venclexta2}',
 'Verzenio WW': '{Verzenio1}',
 'Verzenio US': '{Verzenio2}',
 'Verzenio Ex-US': '{Verzenio1}-{Verzenio2}',
 'Victoza WW': '{Victoza1}',
 'Victoza US': '{Victoza2}',
 'Victoza Ex-US': '{Victoza1}-{Victoza2}',
 'Vimpat WW': '{Vimpat1}',
 'Vimpat US': '{Vimpat2}',
 'Vimpat Ex-US': '{Vimpat1}-{Vimpat2}',
 'Vraylar WW': '{Vraylar1}',
 'Vraylar US': '{Vraylar2}',
 'Vraylar Ex-US': '{Vraylar1}-{Vraylar2}',
 'Vyndaqel/Vyndamax WW': '{Vyndaqel/Vyndamax1}',
 'Vyndaqel/Vyndamax US': '{Vyndaqel/Vyndamax2}',
 'Vyndaqel/Vyndamax Ex-US': '{Vyndaqel/Vyndamax1}-{Vyndaqel/Vyndamax2}',
 'Xarelto WW': '{Xarelto2}+{Xarelto3}',
 'Xarelto US': '{Xarelto3}',
 'Xarelto Ex-US': '{Xarelto2}',
 'Xeljanz WW': '{Xeljanz1}',
 'Xeljanz US': '{Xeljanz2}',
 'Xeljanz Ex-US': '{Xeljanz1}-{Xeljanz2}',
 'Xiidra WW': '{Xiidra1}',
 'Xiidra US': '{Xiidra2}',
 'Xiidra Ex-US': '{Xiidra1}-{Xiidra2}',
 'Xtandi WW': '{Xtandi2}',
 'Xtandi US': '{Xtandi3}',
 'Xtandi Ex-US': '{Xtandi2}-{Xtandi3}',
 'Yervoy WW': '{Yervoy1}',
 'Yervoy US': '{Yervoy2}',
 'Yervoy Ex-US': '{Yervoy1}-{Yervoy2}'}

In [254]:
def evaluate_helper(clean_dataframe):
    '''
    '''
    holder = dict()
    for index, row in clean_dataframe.iterrows():
        for year in clean_dataframe.columns[2:]:
            if year not in holder:
                holder[year] = {row['Source'] : row[year]}
            else:
                temp = holder.get(year)
                holder[year].update({row['Source'] : row[year]})
                
    return holder

    
eval_map = evaluate_helper(clean)

def evaluate(eval_map, formula_key):
    '''
    '''
    return_dict = dict()
    for year in eval_map.keys():
        temp = eval_map.get(year)
        temp_dict = dict()
        for ID, formula in formula_key.items():
            if formula != '{Nan}':
                formula = formula.format(**temp)
                if formula != np.nan:
                    result = eval(formula)
                else:
                    result = formula
                temp_dict[ID] = result
            else:
                temp_dict[ID] = 'Nan'
                
        return_dict[year] = temp_dict
        
    return return_dict

evaluated_key = evaluate(eval_map, formula_key)


def turn_into_dataframe(evaluated_key):
    '''
    '''
    counter = 0 
    for year, values in evaluated_key.items():
        data = []
        for key, amount in values.items():
            data.append([key, amount])
        df_temp = pd.DataFrame(data, columns = ['Product Name', year])
        if counter > 0:
            df = df.merge(df_temp, how='inner', on='Product Name')
        else: 
            df = df_temp

        counter += 1
        
    return df
    
    
evaluated_key = turn_into_dataframe(evaluated_key)
evaluated_key

,Product Name,FY2007,FY2008,FY2009,FY2010,FY2011,FY2012,FY2013,FY2014,FY2015,...,FY2029,FY2030,FY2031,FY2032,FY2033,FY2034,FY2035,FY2036,FY2037,FY2038
0,Actemra WW,0,0.0,0.0,519.382885,913.806742,1158.377021,1424.369677,1677.27913,1871.146667,...,1026.982709,950.614498,983.526357,1026.718156,1067.725867,1061.26059,1244.462648,NaN,NaN,NaN
1,Actemra US,0,0.0,0.0,75.879615,208.489888,331.554468,431.294194,556.352391,718.666667,...,335.725889,315.654785,335.01203,343.125495,362.802547,358.359781,363.288261,NaN,NaN,NaN
2,Actemra Ex-US,0,0.0,0.0,443.503269,705.316854,826.822553,993.075484,1120.926739,1152.48,...,691.25682,634.959712,648.514326,683.592661,704.92332,702.900809,881.174387,NaN,NaN,NaN
3,Adempas WW,0,0.0,0.0,0.0,0.0,0.0,0.0,84.362632,242.747135,...,425.220348,383.039432,299.075119,182.487295,167.113971,90.296491,47.900762,NaN,NaN,NaN
4,Adempas US,0,0.0,0.0,0.0,0.0,0.0,0.0,84.362632,205.115135,...,238.420843,234.891855,204.027394,86.399891,71.240784,59.50577,26.347257,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,Xtandi US,0,0.0,0.0,0.0,0.0,0.0,0.159675,0.528173,0.915023,...,0.720838,0.307606,0.15534,0.086932,0.068109,0.048269,NaN,NaN,NaN,NaN
278,Xtandi Ex-US,0,0.0,0.0,0.0,0.0,0.0,0.0,0.122803,0.506734,...,1.284029,1.063557,0.82514,0.673984,0.279544,0.229795,NaN,NaN,NaN,NaN
279,Yervoy WW,0,0.0,0.0,0.0,473.76,912.9992,1226.304,1648.9956,1412.4544,...,1052.208894,859.211704,529.341355,451.13601,362.668629,615.523927,600.70167,NaN,NaN,NaN
280,Yervoy US,0,0.0,0.0,0.0,425.068,650.4796,730.814733,893.8363,755.1488,...,608.303033,475.140206,287.319594,242.144549,159.085817,182.393814,145.915051,NaN,NaN,NaN
281,Yervoy Ex-US,0,0.0,0.0,0.0,48.692,262.5196,495.489267,755.1593,657.3056,...,443.905861,384.071497,242.021761,208.991461,203.582812,433.130113,454.786619,NaN,NaN,NaN

In [261]:
def check_string(x, string_list):
    for string in string_list:
        if string in x:
            return string
    return None



def merge_final_clean(raw_dataframe, evaluated_key):
    '''
    '''
    cols = ['Proper Name', 'Generic Name', 
            'Medicare Spend', 'Original Manufacturer', 
            'Application', 'Approval Date', 'Year']
    
    pnames = list(raw_dataframe['Proper Name'])
    temp = raw_dataframe[cols].drop_duplicates()
    
    evaluated_key["Proper Name"] = evaluated_key["Product Name"].apply(lambda x: check_string(x, pnames))
    
    return temp.merge(evaluated_key, how='left', on='Proper Name')

    
final = merge_final_clean(df, evaluated_key)

In [266]:
len(set(final['Proper Name']))

94